// Efectos, animaciones
.anim-intro {
  width: 100%;
  height: 150px;

    path {
        fill: none;
        stroke: $white;
        stroke-width: 4;
        // stroke-linejoin: round;
        // stroke-linecap: round;
        stroke-dashoffset: 500;
        stroke-dasharray: 500;
        // stroke-miterlimit: 10;
        // @include scale(2);

        &:hover {
            fill: $color-alt;
            fill-opacity: 0;
            fill-rule: inherit;
            stroke-width: 2;
            // stroke-linejoin: round;
            // stroke-linecap: round;
            stroke-dashoffset: 10;
            stroke-dasharray: 10;
        }
    }
}

// Animacion logo intro

path {
    &.anim-enano-izda {
        fill: $black;
        @include animation(anim-nano-izda, 0.5s, 0.3s, linear, 4);
    }

    &.anim-enano-dcha {
        fill: $black;
        @include animation(anim-nano-dcha, 0s, 0.3s, ease, 3);
    }

    &.anim-gegant {
        fill: $color-base;
        @include animation(anim-gegant, 1s, 0.5s, ease, 2);
    }

    &.anim-puntitos {
        fill: $color-alt;
        @include animation(anim-puntitos, 0s, 1s, ease, 2);
    }
    &.anim-agua {
        fill: $color-alt;
        @include animation(anim-agua, 0s, 0.5s, linear, infinite);
    }
}

// animacion intro fade
.efecto--intro {
  animation-name: animacion--intro;
  // animation-delay: .3s;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  // @include animation(animacion--intro, 1s, 1s, ease, 1);
}
@keyframes animacion--intro {
  from {
    transform: translateY(-30px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes animacion--gira {
    0% {
      @include rotate(360deg);
    }
    100% {
      @include rotate(0deg);
    }
}


.efecto--gira {
    @include animation(animacion--gira, 3s, 2s, linear, 1);
}

// animacion SVG
@keyframes efecto-stroke-dashoffset {
    50% {
        stroke-dashoffset: 0;
    }
}
.efecto--stroke-dashoffset {
    @include animation(efecto-stroke-dashoffset, 0s, 10s, ease, infinite);
}
