.brand {
	@include flexbox;
	// @include justify-content(center); //alineado horizontal
	@include align-items(center); //alineado vertical
	padding-top: $gutterwidth / 2;
	// padding-left: $gutterwidth * 2;
	padding-bottom: 0;
	
	@media all and (min-width: $bp3) {
		padding-bottom: $gutterwidth / 2;
	}

	@media all and (min-width:700px) {
		@include justify-content(center); //alineado horizontal
		@include align-items(center); //alineado vertical
		flex-direction: column;
	}	
}

	.brand__logo {
		width: 60px;
		height: 60px;

		@media screen and (min-width: 780px) {
			width: 120px;
			height: 120px;
		}
	}

	.brand__name {
		line-height: 1;
		margin-bottom: 0;
		font-size: 1.1em;
		font-style: italic;
		letter-spacing: 1px;
		color: $color-alt;

		@media all and (max-width: 700px) {
			width: 140px;
		}
	}

	.brand__description {
		display: none;
	}