.brand {
	
	height: 100px;

	overflow: hidden;

	// @include flexbox;

	// @include justify-content(center); //alineado horizontal

	// @include align-items(center); //alineado vertical

	padding-top: $gutterwidth / 2;

	//padding-left: $gutterwidth * 2;
	// @include flex-grow(2);

	padding-bottom: 0;


		@media all and (min-width: $bp3) {

			// @include max-width(300px);
			padding-bottom: $gutterwidth / 2;
			margin: 0 $gutterwidth;

		}


		@media all and (min-width:700px) {

			// @include justify-content(center); //alineado horizontal

			// @include align-items(center); //alineado vertical

			// flex-direction: column;

		}

}


	.brand__logo {

		width: 120px;

		height: auto;

		@media screen and (min-width: $bp3) {

			
			
			width: 180px;

			height: auto;

		}

	}


	.brand__name {

		line-height: 1;

		margin-bottom: 0;

		font-size: 1.1em;

		font-style: italic;

		letter-spacing: 1px;

		color: $color-alt;

		display: none;

			@media all and (max-width: 700px) {

				width: 140px;

			}

	}


	.brand__description {

		display: none;

	}