

/*------------------------------------*\
    $FUENTES
\*------------------------------------*/

// Google fonts
@import url(#{$googlefont});

// icomoon
@import "icomoon.scss";

.basefont { font-family: $basefont }
.altfont { font-family: $altfont }
.codefont { font-family: $codefont }
.basefont::after {
	content: " #{$basefont}";
	color: $white;
}
.altfont::after {
	content: " #{$altfont}";
	color: $white;
}
.codefont::after {
	content: " #{$codefont}";
	color: $white;
}