@font-face {
	font-family: 'icomoon';
	src:url('assets/fonts/icomoon/fonts/icomoon.eot?-dl5hp3');
	src:url('assets/fonts/icomoon/fonts/icomoon.eot?#iefix-dl5hp3') format('embedded-opentype'),
		url('assets/fonts/icomoon/fonts/icomoon.woff?-dl5hp3') format('woff'),
		url('assets/fonts/icomoon/fonts/icomoon.ttf?-dl5hp3') format('truetype'),
		url('assets/fonts/icomoon/fonts/icomoon.svg?-dl5hp3#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

$icons: ".icon-megaphone,.icon-envelope,.icon-paperclip,.icon-profile-male,.icon-facebook,.icon-logo_sf2,.icon-arrow-right2,.icon-arrow-left2, .icon-arrow-up2";

%icomoon {
	font-family: "icomoon";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#{$icons} {
	@extend %icomoon;
	// &:hover {
	// 	@extend: %icon;
	// }
}

.icon-megaphone:before {
	content: "\e021";
}

.icon-envelope:before {
	content: "\e028";
}

.icon-paperclip:before {
	content: "\e02d";
}

.icon-profile-male:before {
	content: "\e040";
}

.icon-facebook:before {
	content: "\e05d";
}

.icon-logo_sf2:before {
	content: "\e613";
}

.icon-arrow-up2:before {
	content: "\ea3a";
}

.icon-arrow-right2:before {
	content: "\ea3c";
}

.icon-arrow-left2:before {
	content: "\ea40";
}