/*********************
Main navbar
**********************/
// Toggle Menu Overlay
.nav-main {
  position: relative;
  @media screen and ( min-width: 900px ) {
    display: none;
  }
  ul {
    position: fixed; right: 0; top: 0;
    z-index: 50;
    border-radius: 20px;
    line-height: 1.7;
    text-align: center;
    transition-property: transform;
    transition-duration: .3s;
    transform:
      translate( 100%, 65px )
      rotate( 0deg )
      ;
    padding: 20px;
    background-color: $color-alt;
    box-shadow: 2px 2px 0 $black-alpha-medio;
    li {
      display: block;
    }
    a {
      padding: 5px;
      font-size: 150%;
      &:hover {
        color: $color-base;
        //text-shadow: 1px 3px 1px darken( $color-alt,15 );
        transition-property: color;
        transition-duration: .3s;
      }
    }
  }
  input[type="checkbox"] { display: none }
  label {
    width: 50px;
    height: 50px;
    position: fixed; right: 50px; top: 0;
    z-index: 51;
    padding: 20px;
    font-size: 18px;
  }
  input[type="checkbox"]:checked ~ ul,
  .checked {
    transform:
      translate( 0, 65px )
      rotate( -10deg )
      ;
    transition-property: transform;
    transition-duration: .3s;
  }
}

// Nav Secondary
.nav-secondary {
  flex: 1;
  ul {
    display: flex;
    justify-content: space-around;
    @extend %no-padding;
    @extend %no-margin;
    // Hide navs
    @media all and (max-width: 900px) {
      display: none;
    }
  }
  li {
    @extend %text-center;
    color: $color-alt;
    @media all and (min-width: $bp1) {
      @include font-size(25);
    }
  }
  .current-menu-item {
    a {
      color: $color-alt;
    }
  }
  a {
    color: $color-base;
    &:hover {
      color: $color-alt;
    }
  }
}


.nav-secondary--dos {}


// Nav Footer
.nav-footer {

    display: table;

}

.nav-footer__item {

    display: table-row;
    border-bottom: 10px solid $white;

    &:last-child {

        border-bottom: none;

    }
}


// Nav Header
.nav-header {

    @include max-width($bp0);
    margin: 0 auto;
    display: none;
    line-height: $baselineheight * 2.5;

    @media all and (min-width: 780px) {

        @include flexbox;
        @include justify-content(center);

    }

    li ul {

        display: none;

    }

    .nav-header__item, li {

        display: inline-block;
        @extend %text-center;
        vertical-align: bottom;
        @include margin-bottom($gutterwidth/10);
        @extend %uppercase;
        @include font-size(16);

        a, a:visited {

            color: $white;
        }
    }
}

// Navegacion
.nav--posts {

    @include max-width($bp1);

    ul {

        width: 100%;
        display: table;
        @extend %no-padding;
        @extend %no-margin;
        // @include padding($gutterwidth);

        li {

            width: 50%;
            display: table-cell;
            vertical-align: middle;
            @extend %text-center;
        }
    }

    img {

        width: 75px;
    }
}
