
//Slider
.slider {

	@include max-width($bp0);
	// height: 500px;
	@include padding();
	position: relative;
	z-index: 1;

	@include background-image(bg_top_main,100%,no-repeat,svg);

	ul {

		margin: 0;
		padding: 0;

	}

	* {
		
		@include transition(.5s);
		
	}

	@media all and (max-width:$bp2) {
		
		background-color: $color-base;

	}

	@media all and (min-width:$bp3) {
		

	}

}

  .slider__item {

	position: absolute;
	top: 50px;
	right: 0;
	left: 0;
    opacity: 0;
    overflow: hidden;
    padding-bottom: 5px;
	

	@media all and (min-width: 780px) {

		// @include max-width(900px);
		// right: auto;
		// left: auto;
		// background-color: red;
		// width: 90%;
	
	}


    &.current {
    	opacity: 1;
    	padding-bottom: 0;
    }

  }


.slider__slides {
	
	@extend %text-center;
	
	img {
	
		width: inherit;

	}


	@media all and (min-width: 780px) {

		@include flexbox;
		// @include align-content(center); //alineado horizontal
		// @include align-items(center); //alineado vertical
		@include justify-content(center); //alineado vertical
		// width: 100%;
		
		margin: 0 auto;
		// border: 1px dotted $black-alpha-suave;

	}

}


.slider__figure {

	@extend %text-center;
	
	@media all and (min-width: 780px) {

		@include flexbox;
		@include justify-content(center); //alineado horizontal
		@include align-items(center); //alineado vertical
		width: 100%;

	}

	img {
		
		width: 250px;
		@include circle();
		margin: 0;
		-webkit-filter: grayscale(1);
  		filter: grayscale(1);

		@media all and (min-width: 780px) {

			// border-radius: $radius;

		}

		@media all and (min-width: 900px) {

			// width: 250px;

		}

	}

}
	
	.slider__meta-date {

		color: $white-alpha-medio;
		@extend %clearfix;
    	font-size: 1.2rem;
    	line-height : $baselineheight/2;
    	letter-spacing: $baseletterspacing;

	}
	

	.slider__title {
		
		color: $color-base;
		// @extend %clearfix;
		@extend %lowercase;
		padding-bottom: $gutterwidth/2;

	}
	

	.slider__caption {

    	z-index: 10;
    	@extend %text-center;
    	color: $background;
    	// font-size: 1.9rem;

			@media all and (min-width: 780px) {

				width: 250px;

			}


			@media all and (min-width: 1280px) {

	    		width: 440px;

	    		// font-size: 3.3rem;

	    		line-height: 1.2;

	    		// margin-left: $gutterwidth;

			}
	}


.slider__btn {

	border: none;
	@include font-size(36);
	line-height: 2;
	color: $white;
	border: 1px dotted $white;
	
	&:hover {

		background-color: $black-alpha-fuerte;

	}
	
	&:visited {

		color: $white;

	}

	&:focus {

		outline: none;

	}

}


.slider__btn-call {
	
	width: 180px;
	height: 40px;
	display: block;
	margin: $paddingbase auto;
	border-radius: $radius*10;
	@include font-size(24);
	line-height: $baselineheight*1.5;

	&:hover {

		background-color: $black;
		border: none;

	}


		@media all and (min-width: $bp3) {

    		// display: inline;

		}
	
}


.slider__btn-next, .slider__btn-prev, .slick-prev, .slick-next {
	height: 100px;
	width: 100px;
	position: absolute;
	top: $gutterwidth*6;
	border-radius: 100%;
	border: none;
	z-index: 100;
	background-color: $black-alpha-fuerte;
	display: none;
}


.slider__btn-next, .slick-next {

	right: 0;
	
	@extend .icon-arrow-right2;

	&::after {

		@extend %display-block;

	}

}

.slider__btn-prev, .slick-prev {

	left: 0;

	@extend .icon-arrow-left2;

	&::before {

		@extend %display-block;

	}
}


// Estilos Revolution Slider
.sliderh1 {

	h1 {

		color: $white;
		font-size: 6rem;

	}

	h2 {

		color: $white;
		font-size: 2rem;
		max-width: $bp3;
		text-transform: inherit;
		letter-spacing: $baseletterspacing;

	}

	.btn {
		
		@include font-size(30);
		color: $white;
		border: 2px solid $white;

	}

}





// Slick Slider
/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="ltr"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}

.slick-dots {

	li {

		margin-top: $gutterwidth;
		height: 50px;
		display: inline-block;

		button {
			
			@include circle(30px);
			border: none;
			color: $black-alpha-fuerte;
			background-color: $black-alpha-fuerte;

		}
		
		&.slick-active {

			button {

				color: $color-alt;
				background-color: $color-alt;

			}
		}
	}

}