/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	@extend %no-padding;
	list-style: none;
}
.sf-menu {
	@extend %text-center;

	ul {
		// min-width: 12em; /* allow long menu items to determine submenu width */
		*width: 12em; /* no auto sub width for IE7, see white-space comment below */
		position: absolute;
		display: none;
		top: 100%;
		left: 0;
		z-index: 99;
		@media (max-width: $bp3) {
			height: auto;
			width: 100%;
		}

		ul {
			top: 0;
			left: 100%;
			@media (max-width: $bp3) { //añadido breakpoint
				position:relative;
				height: auto;
			}
			

			li {
				background: $color-base-lighten;
				
				@media (max-width: $bp3) { //añadido breakpoint
				position: relative;
				width: 100%;
				left: -100%;
				}
			}
			
		}
		li {
			// background: $color-base-lighter;
			@media (max-width: $bp3) { //añadido breakpoint
				position: relative;
			}
		}
		
	}
	li {
		position: relative;
		// background: $color-base;
		white-space: nowrap; /* no need for Supersubs plugin */
		*white-space: normal; /* ...unless you support IE7 (let it wrap) */
		transition: background .2s;
	}

	> li { //primera linea de items
	    // width: 100%;
	    @media screen and (min-width: $bp3){
			// display: inline-block;
	        // width: 15%;
	        background-color: transparent;
	    }
	}

	a {
		@extend %display-block;
		position: relative;
		text-decoration: none;
		zoom: 1; /* IE7 */
		// @include justify-content(space-between); 
	}
}


.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	@extend %display-block;
}





.sf-menu li:hover,
.sf-menu li.sfHover {
	// background: $color-base;
	/* only transition out, not in */
	// -webkit-transition: none;
	// transition: none;
}

/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
	padding-right: 2.5em;
	*padding-right: 1em; /* no CSS arrows for IE7 (lack pseudo-elements) */
}
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	margin-top: -3px;
	height: 0;
	width: 0;
	/* order of following 3 rules important for fallbacks to work */
	border: 5px solid transparent;
	border-top-color: darken($color-base,23%); /* edit this to suit design (no rgba in IE8) */
	border-top-color: darken($color-base,23%);
}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: darken($color-base,4%); /* IE8 fallback colour */
}
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
	margin-top: -5px;
	margin-right: -3px;
	border-color: transparent;
	border-left-color: darken($color-base,5%); /* edit this to suit design (no rgba in IE8) */
	border-left-color: rgba(255,255,255,.5);
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
	border-left-color: white;
}
