/*------------------------------------*\
  $TIPOGRAFÍA
\*------------------------------------*/
// HEADINGS
@each $header, $margin-bot, $font-size, $line-height in
	( h1, 20, 30, 1 )
	( h2, 20, 20, 1.1 )
	( h3, 20, 20, 1.4 )
	( h4, 20, 19, 3.4 )
	( h5, 7, 19, 2 )
	( h6, 7, 19, 1 ) {
		#{$header}, .#{$header} {
  		margin-bottom: #{$margin-bot}px;
  		line-height: $line-height;
  		@extend %text-center;
		  font-size: #{$font-size}px;
      font-family: $baseheadingfont;
    	font-weight: $baseheadingfontweight;
    	text-rendering: optimizelegibility;
      @media screen and ( min-width: 700px ) {
  		  font-size: #{$font-size * 1.5}px;
      }
		}
	}
// TYPOGRAFÍA
p,
ol,
ul,
dl,
address {
	margin-bottom : $baselineheight - 0.5;
	line-height : $baselineheight;
	letter-spacing: $baseletterspacing;
	word-spacing: $altlineheight/10;
	small {
		font-style: normal;
		line-height: $baselineheight / 4;
	}

	@media all and (max-width: $bp2) {
		font-size: 76%;
	}
}

small {
	// @include font-size(18);
}

dd {
		line-height : $baselineheight / 2;
}

ul,
ol {
	margin: 0;
	padding: 0;
}

li ul,
li ol {
	margin : 0;
}

// listas
ul {
	list-style-type : none;
}
// blockquote

blockquote  {
	margin : 0 0 $baselineheight 0;
	padding-left : $gutterwidth;
	border-left : ($paddingbase / 4) solid $color-alt;
	font-style : italic;
	color: $color-alt;
	line-height: $baselineheight;

	@include max-width($bp3);

	q {
		@include font-size(32);
		@include margin-bottom(0);
		color:$color-base-dark;
	}
}

q {
	quotes : none;
}

blockquote p::before,
blockquote p::after,
q:before,
q:after {
	content : "";
}

cite {
	font-style : normal;
}

// definition lists

dl,
dd,
dt {
	margin-bottom : $baselineheight / 3;
}

dt {
	// font-weight : bold;
}


// listas horizontales
.list-inline {
	> li {
		@extend %list-inline;
	}
}
.dl-horizontal {

	dt {
		float : left;
		clear : left;
		width : 20.25%;
		text-align : right;
	}

	dd {
		margin-left : 22.78%;
	}
}

// text-level

abbr[title] {
	border-bottom : 1px dotted $bordercolor;
	cursor : help;
}

b, strong {
	font-weight : bold;
}

dfn {
	font-style : italic;
}

ins {
	background-color : lighten($color-base, 75%);
	color : $textcolor;
	text-decoration : none;
}

mark {
	background-color : $color-base;
	color : $textcolor;
}

pre,
code,
kbd,
samp {
	font-family : $codefont;
	@include font-size(24);
	line-height : $baselineheight;
}

pre {
	white-space : pre;
	white-space : pre-wrap;
	word-wrap : break-word;
}

sub,
sup {
	position : relative;
	@include font-size(8);
	line-height : 0;
	vertical-align : $baselineheight;
}

sup {
	top : 1em;
}

sub {
	bottom : -2.25em;
}
