/*------------------------------------*\
    STYLEGUIDE
\*------------------------------------*/
body {
	* {
		border: 1px dashed #ccc;
	}
}
// Indicadores
%indicador {
	font-size: .7rem;
	display: inline;
	color: $color-base;
}

$h1				: "<h1>";
$h2				: "<h2>";
$h3				: "<h3>";
$blockquote		: "<Blockquote>";
$table			: "<Table>";
$ol				: "Lista ordenada";
$ul				: "Lista desordenada";

h1::before { content: "#{$h1}"; @extend %indicador; }
h2::before { content: "#{$h2}"; @extend %indicador; }
h3::before { content: "#{$h3}"; @extend %indicador; }
blockquote::before { content: "#{$blockquote}"; @extend %indicador; }
table::before { content: "#{$table}"; @extend %indicador; }
.list-ordered::before { content: "#{$ol}"; @extend %indicador; }
.list-unordered::before { content: "#{$ul}"; @extend %indicador; }


//Añademe dinamicamente el nombre de la clase
// li::before, a::before, .component__xx__item::before {
//     content: "" attr(class); // wow!
//     color: $black;
//     font-size: .8rem;
//     line-height: .5;
//     padding-left: 10px;
//   }