@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?849yw1');
	src:url('fonts/icomoon.eot?#iefix849yw1') format('embedded-opentype'),
		url('fonts/icomoon.woff?849yw1') format('woff'),
		url('fonts/icomoon.ttf?849yw1') format('truetype'),
		url('fonts/icomoon.svg?849yw1#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-megaphone:before {
	content: "\e021";
}

.icon-envelope:before {
	content: "\e028";
}

.icon-paperclip:before {
	content: "\e02d";
}

.icon-profile-male:before {
	content: "\e040";
}

.icon-facebook:before {
	content: "\e05d";
}

.icon-logo_sf2:before {
	content: "\e613";
}

.icon-arrow-right2:before {
	content: "\ea3c";
}

.icon-arrow-left2:before {
	content: "\ea40";
}

