.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-left {
	width: 1.51171875em;
}

.icon-arrow-right {
	width: 1.51171875em;
}

.icon-ham-menu {
	width: 1.2578125em;
}

.icon-bubbles {
	width: 1.125em;
}

.icon-menu3 {
	width: 1.375em;
}

.icon-menu4 {
	width: 1.375em;
}
