.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-megaphone {
	width: 1.25em;
}

.icon-envelope {
	width: 1.1875em;
}

.icon-paperclip {
	width: 1.0625em;
}

.icon-profile-male {
	width: 1.125em;
}
