// Footer principal
.main-footer {
	@include max-width($bp1);
	@include align-content(center);
	@include align-items(center);
	background-color: $color-base;
  	padding: $gutterwidth / 2;
	
  	@media (min-width:$bp3) {
		// min-height: 217px;
  	}
}

	.main-footer__header {}

	.main-footer__social {

		@include flexbox;
		@include justify-content(center);
		@include align-items(center);
		height: 75px;
		@media all and (min-width: $bp3) {
			// width: 19%;
			@include order(3);
		}

		a {
			width: 75px;
			height: 75px;
			color: $black-alpha-medio;

				&:visited {
					color: $black;
				}

				&:hover {
					color: $white;
				}

		  		&::before {
		  			font-size: 3.2rem;
		  		}
		}
	}

	.main-footer__credits {
		
		@include max-width($bp1);
		@extend %text-center;
		@extend %padding-vertical;
		background-color: $color-base;

		aside {
			// margin-top: $gutterwidth;
		}

		a, a:visited {
			color: $linkcolorfooter;
		}

		a:hover {
			text-decoration: underline;
		}

		a i:hover {}
	}

	.main-footer__brand {
		@extend %margin-vertical;
		@extend %text-center;
		@media all and (min-width: $bp3) {
			@include order(2);
		}
		img {  
			width: 100px;
			height: auto;
		}
	}

	.main-footer__brand__name {
		font-family: $altfont;
		text-align: center;
		margin-bottom: 0;
		font-size: 1.2rem;
		letter-spacing: $baseletterspacing;
		font-style: italic;
		color: $white;
	}

	.main-footer__searchform {
		
		@extend %text-center;
		@media all and (min-width: $bp3) {
			@include order(1);
		}
		.screen-reader-text {
			display: none;
		}
		input {
			width: 75%;
		}
		form {
			margin-bottom: 0;
		}
	}
