// Footer principal
.main-footer {
    @include max-width($bp0);
    margin-top: $gutterwidth * 2;
    color: $white;

    @media screen and (max-width: $bp3) {
        padding: $gutterwidth * 2;
    }

    @media screen and (min-width: $bp3) {
        @include flexbox;
        @include justify-content(space-around);
        @include align-items(center);
        @include align-content(center);
        // min-height: 217px;
    }

    img[src$=".svg"] {
        @media screen and (max-width: $bp3) {
            width: inherit;
        }
    }

    input[type="submit"] {
        background-color: $color-base;
        color: $white;
        @extend .icon-magnifying-glass;
    }
}

.main-footer__header {}

.main-footer__social {
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    height: 75px;

    @media all and (min-width: $bp3) {
        // width: 19%;
        // @include order(3);
    }

    a {
        width: 75px;
        height: 75px;
        color: $black-alpha-medio;

        &:visited {
            color: $black;
        }

        &:hover {
            color: $white;
        }

        &::before {
            font-size: 3.2rem;
        }
    }
}

.main-footer__credits {
    @include max-width($bp0);
    @extend %text-center;
    @extend %padding-vertical;
    @include font-size(13);
    color: $white;

    aside {
        // margin-top: $gutterwidth;

    }

    a, a:visited {
        color: $linkcolorfooter;
    }

    a:hover {
        text-decoration: underline;
    }
    a i:hover {}
}

.main-footer__brand {
    // @extend %margin-vertical;
    @extend %text-center;
    // @include flex-grow(1);

    address {
        @include font-size(15);
    }

    @media all and (min-width: $bp3) {
        // width: 300px;
    }

    img {
        width: 150px !important;
        height: auto;
    }
}

.main-footer__brand__name {
    font-family: $altfont;
    text-align: center;
    margin-bottom: 0;
    font-size: 1.2rem;
    letter-spacing: $baseletterspacing;
    font-style: italic;
    color: $white;
}

.main-footer__adicional {
  @extend %text-center;
  a {
    margin: 15px;
    display: inline-block;
  }
  i {
    margin-right: 10px;
  }
  @media all and (min-width: $bp3) {
    @include max-width(300px);
  }
}
// Scroll to top button
.scroll {
  position: relative;
  width: 100%;
  // background-color: darken($color-base, 10);
  .scroll-top {
    position: absolute;
    top: 0;
    right: 0;
    padding: $gutterwidth;
    .icon-arrow-up2 {
      &:before {
        @include font-size(32);
        vertical-align: middle;
      }
    }
  }
}
