html {

	font-size: 100%; //de 16px

	@media all and (min-width: $bp3) {

		font-size: 125%;

	}

}


body {

	font-family: $basefont;
	color: $textcolor;
	// @include background-image(bg,cover,no-repeat,center top, svg);
	background-color: $background;
	background-image: url(#{$image-path}bg.svg);
	background-repeat: repeat;
	background-position: top center;
	background-attachment: fixed;
	font-size: 1rem;

}

// Custom brand colors and images
@include gama-producto();

img {

  // @include max-width(100%);

  // height: auto;

  @media all and (min-width: $bp3) {}

}

img[src$=".svg"] {
	max-width: auto;
	width: 100%;
	height: auto;
}

	// Fondos
	.img--bg {
		@include background-image(logoyo,contain,no-repeat,png);
		background-position: center;
		background-color: $color-base;
	}
	.img--bg-big {
		@include background-image(image,cover,no-repeat,jpg);
		background-position: center;
		background-color: $color-base;
	}
	// Mascaras
	.img--mascara {
		clip-path: polygon( 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25% );
	}



// LAYOUT

.main__content {
	
	@include max-width($bp0);

	> *:first-child {

    	padding-top: 75px;

	}
	
    @media all and (min-width: $bp3) {

    	// padding: $gutterwidth;
    }

	header:first-child {

		padding-top: $gutterwidth;

		h1 {
			// color: $background;
			@include max-width(75%);
			// line-height: 2;

			@media all and (min-width: $bp3) {
			
	    		
    		
    		}

    		@media all and (min-width: $bp1) {
			
	    		// @include font-size(125);
    		
    		}
		}

		// background-color: $color-base;

	}

	p:first-child {
		
		&::first-letter {
		
			// color: $color-base;
			// @include font-size(100);

		}
		
	}
}


.main__content--split {

	@include max-width($bp0);
	
	// padding-top: $gutterwidth;
	// background-color: red;
	// float: left;
	display: table;

    	
    > main {

		@media all and (min-width: $bp2-5) {
			
    		display: table-cell;
    		width: 75%;
    		background-color: $white;
    		
    	}

	}

	> aside {

		@media all and (min-width: $bp2-5) {

    		display: table-cell;
    		width: 25%;
    		background-color: $white;

    	}

	}


}


.wrapper {
  @include grid(2, 8, 2);
}

.main {
  @include grid(2, 4, 2, 4); 
  padding-bottom: 0;
}

.section-archivo {

	padding-top: $gutterwidth*2;

}


// CUSTOM CLASSES
// $type: monster;
// p {
//   @if $type == ocean {
//     color: blue;
//   } @else if $type == matador {
//     color: red;
//   } @else if $type == monster {
//     color: green;
//   } @else {
//     color: black;
//   }
// }














// COLORES

	.color-base {
		background-color: $color-base;
		&::before {
			content: "#{$color-base}";
		}
	}

	.color-base-invert 	{
		background-color: $color-base-invert;
		&::before {
			content: "#{$color-base-invert}";
		}
	}

	.color-base-light 	{ 
		background-color: $color-base-light;
		&::before {
			content: "#{$color-base-light}";
		}
	}

	.color-base-lighten { 
		background-color: $color-base-lighten;
		&::before {
			content: "#{$color-base-lighten}";
		}
	}

	.color-base-dark 	{ 
		background-color: $color-base-dark;	
		&::before {
			content: "#{$color-base-dark}";
		}
	}

	.color-base-darken	{ 
		background-color: $color-base-darken;	
		&::before {
			content: "#{$color-base-darken}";
		}
	}

	.white	{ 
		background-color: $white;	
		&::before {
			content: "#{$white}";
		}
	}

	.black	{ 
		background-color: $black;
		&::before {
			content: "#{$black}";
			color: $color-base-light;	
		}
	}


// Web Colours
::-moz-selection {
	background-color : $color-base;
	color : $black;
	text-shadow : none;
}

::selection {
	background-color : $color-base;
	color : $black;
	text-shadow : none;
}

// Esconde visualmente
.hidden {
	@extend %hidden;
}




// PLUGINS


//Rev Slider
.rev_slider_wrapper {
	z-index: 0;
}

// Contact Form 7
.wpcf7-form-control-wrap {}
.your-name {}

input {
	.wpcf7-form {}
	.wpcf7-form-control {}
	.wpcf7-text {}
	.wpcf7-validates-as-required {}
	.wpcf7-textarea {}
	.wpcf7-submit {}
	.wpcf7-response-output {}
	.wpcf7-display-none {}
}

.wpcf7 {

	// display: table-cell;	
	img { width: auto; } // que no hayan sorpresas...

	@media screen and (max-width: $bp3) {

		// display: table-row;

	}
}

// Mappress
.mapp-canvas {

	@media all and (min-width: 410px) {

    	display: table-cell;
		width: 50% !important;

    }
}

.mapp-layout {

	@media all and (min-width: 410px) {

		display: table;
		// width: 50%;
    
    }
}
.mapp-directions, .mapp-map-links, .mapp-dialog {display: none}

.mapp-poi-list {
	
	display: table-cell;
	width: 50% !important;
	@include font-size(16);
	padding-left: $gutterwidth*2;

	thead {
		display: none;
	}

	tbody {
		// display: table;
	}

	img {
		// display: none;
		height: 10px;
	}
	td {
		// @extend %text-center;
	}
	tr {
		float: left;
		width: 50%;
	}

}



//.mapp-iw { color: $black; }

// Vegas
// .nav-arrows {
// 	@media all and (max-width: $bp3) {
// 		display: none;
// 	}
// }