.header {

	@include flexbox;
	@include justify-content(space-around); //alineado horizontal
	@include align-items(center); //alineado vertical
	@include max-width($bp0);

	background-color: $white;

}