// Main Header (menu, logo...)
.header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  @include justify-content(center);
  @include align-items(center);
  @include max-width($bp0);
  @include background-image(bg_header, cover, no-repeat, center bottom, svg);
}
// Page Headers
.page-header {
  position: relative;
  min-height: 330px;
  justify-content: space-around;
  align-items: center;
  padding-top: 100px;
  padding-bottom: ( $paddingbase * 2 );
  @media screen and ( min-width: 500px ) {
    display: flex;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    @include background-image(bg_ondas_top, initial, no-repeat, center bottom, svg);
  }
  // Quitame el fondo si es newsletter
  .page-template-template-newsletter & {
    &::after {
      display: none;
    }
  }
}
  // Page Headers Subzonas
  .page-header__left {
    text-align: center;
    flex: 0.5;
  }
  .page-header__center {
    text-align: center;
    flex: 1;
    color: $baseheadingfontcolor;
  }
  .page-header__right {
    flex: 0.5;
  }
// El titulo de las entradas
.page-subheader {
  margin-top: 10px;
}
