.header {

	position: fixed;
	z-index: 100;
	@include flexbox;
	@include justify-content(center); //alineado horizontal
	@include align-items(center); //alineado vertical
	@include max-width($bp0);
	@include background-image(bg_header,cover,no-repeat,center, svg);
	// background-color: $white;

}