.sidebar {
  margin-top: $paddingbase;
  padding: $paddingbase;
  background-color: $black-alpha-fuerte;
  @media all and (min-width: 900px) {
    border-radius: $radius * 5;
    position: relative;
    width: 25%;
  }
  * {
    letter-spacing: $baseletterspacing;
    @include transition(0.3s);
  }
  a, a:visited {
    color: $black-alpha-medio;
    &:hover {
      color: $color-base;
    }
  }
  h3, h2, h4 {
    color: $black;
  }
  img {
    width: inherit;
  }
  figure {
    > a {
      @extend %clearfix;
    }
    figcaption {}
  }
}
.sidebar--inferior {
  padding-top: $gutterwidth * 2;
}
