
.sidebar {

	// width: 100%;
	padding: $gutterwidth/2;
	// background-color: $color-alt;
	@include font-size(24);
	
	@media all and (min-width: $bp2) {

    	// padding: $gutterwidth;
    	position: relative;
		width: 25%;

    }


	* {
		letter-spacing: $baseletterspacing;
		@include transition(.3s);
	}


	a, a:visited {

		color: $color-alt;

		&:hover {
			color: $color-base;
		}

	}


	// background-color: $white;
	// background-color: darken($color-alt, 10%);
	// background-color: lighten($color-base, 55%);

	
	h3, h2, h4 {

		color: $black;

	}


	img {

		width: inherit;
	}


	figure {

		> a {

			@extend %clearfix;

		}

		figcaption {}
	}

}