
.sidebar {

	// width: 100%;
	// float: right;
	padding-top: $gutterwidth;
	background-color: $color-alt;
	
	@media all and (min-width: $bp2-5) {

    	// padding: $gutterwidth;

    }


	* {
		letter-spacing: $baseletterspacing;
		@include transition(.3s);
	}


	a, a:visited {

		color: $black;

		&:hover {
			color: $color-alt;
		}

	}


	// background-color: $white;
	// background-color: darken($color-alt, 10%);
	// background-color: lighten($color-base, 55%);

	
	h3, h2, h4 {

		color: $black;

	}


	img {

		width: inherit;
	}


	figure {

		> a {

			@extend %clearfix;

		}

		figcaption {}
	}

}